* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: vor(--text-color);

}

section {
    min-height: 100vh;
    display: flex;
    /* min-width:100vw;
    width:100vw; */
    padding: 10rem 9% 2rem;
}

/* Header section  */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: 1rem solid
        /* rgba(0,0,0,.2); */
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--main-color);
}

navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* ======================Home bg Animation css code========================== */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/* ======================Home  text Animation css code========================== */
.another-text{
    color: white;
      font-size: 3rem;
      padding: 15px;
      font-family: sans-serif;
      display: inline;
  }
  .text{
    color: white;
      border-right: 2px solid var(--main-color);
      font-size: 3.2rem;
      font-family: sans-serif;
      color: var(--main-color);
      display: inline;
  }


    
/* ======================Organizers-logos css styles========================== */
.Organizers-logos{
    height:75px;
    overflow:none;
    margin-bottom: 4rem ;

}
.Organizers-logos img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left:4rem;
}

/* ======================Home section========================== */

.home {

    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    z-index: 100;

}

.home-content {
    overflow: none;
    margin-top: 120px;
}

.home-content p {
    font-size: 1.5rem;

}

.home-content h1 {
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 8px;
}

 .social-links a, .social-links-of-team a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 4rem;
    height: 4rem;
    background: transparent;
    text-decoration: none;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    transition: .5s;

}

.social-links a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8 rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    text-decoration: none;
    margin-top: 2.1rem;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: none;

}
/* ==================== Gallery section =================== */

.Gallery{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    background-color: var(--second-bg-color);
}

.gallery-images{
    width:300px;
     height:150px;
    margin:10px;
    border:.1rem solid var(--main-color);
    box-shadow: 0 3px 10px var(--main-color);
    overflow:hidden;
    transition: .5s;
}
.gallery-images:hover {
    transform: scale(1.08);
      overflow: hidden;
}
.img-gallery-container{
}
/* #gallery-row{
    background:var(--bg-color);
} */

.Gallery-cotainer h1, .Teamh1 {
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;

}



/* ==================== Team Section =================== */
.Team{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    z-index: 100;
}
.Team-container{
    justify-content: center;
    text-align: center;
}

.team-card {
    display:flex;
    width: 300px;
    height: 400px;
    /* perspective: 1000px; */
    background: var(--second-bg-color);
    justify-content: center;
    margin:auto;
    margin-bottom: 15px;

  }
  
  .card-inner {
    width: 290px;
    height: 390px;
    background-color:var(--second-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px var(--main-color);
    transition: 0.5s;
    transform-style: preserve-3d;
  }
  
    .card-inner:hover {

        transform: scale(1.05);
      overflow: hidden;
  }
  
  .team-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px var(--main-color);

  }
  /* #social-links-of-team a{
    border:.2rem solid rgb(0, 110, 255);
    color:rgb(0, 110, 255);
  }
  #social-links-of-team a:hover{
    background-color:rgb(0, 110, 255) ;
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem;
  } */
  
  .team-card h3, .team-card h1 {
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  .team-card p {
    color:var(--text-color);
    font-size:1.3rem;

  }
  
 

.Rules-FAQs {
    display:flex;
    justify-content:center;
    text-align:center;
    color: var(--text-color);
    background: var(--second-bg-color);
    /* margin-top:200px; */
}

.content {
    text-align: justify;
    font-size: 2.5rem;
    /* letter-spacing: .1rem; */
    font-family: Arial, Helvetica, sans-serif;

}

.Rule-div {
    background-color: #c3c4c6;
    box-shadow: 1rem;
    padding: 3rem;
    margin-top: 2rem;

}

.Rule-div h1 {
    color: var(--bg-color);
    font-size: 5rem;
    margin: 0 5rem 5rem 0;
}

.Rule-div p {
    color: var(--bg-color);
}

.Qitem {
    border: .2rem solid var(--main-color);
    height: 100%;
    margin: 2rem 0 0 3rem;
}

.Qitem h1 {
    font-size: 5rem;
    margin: 3rem 5rem 5rem 4rem;
}

.Qitem div {
    margin: 4rem;
    border-bottom: .2rem ridge var(--text-color);
}

/* ==================== Contact section css code =================== */
.contact-section {
    background-color:var(--bg-color);
    padding: 80px 0;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .section-heading {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 10px var(--main-color);
    border-radius: 4px;
    resize: vertical;
    
  }
  
 


/* BREAKPOINTS */
@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

}

section {
    padding: 10rem 3% 2rem;
}

@media(max-width:572px) {
    .Qitem {
        margin: 2rem 0 0 0;

    }

    .Rule-div {
        margin-top: 0;
    }
    #HAKETHON{
        display:block;
    }
}

@media(max-width:852px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;

    }

    /* .navbar.active{
    display:block;
} */
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem;
        display: block;
    }
}